.hello {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-top: 35px;
  /* margin: 10px 50px 50px; */
  width: 100%;
}

@media (min-width: 768px) {
  .hello {
    display: flex;
    align-items: start;
    flex-direction: row;
    margin-top: 200px;
    bottom: 20px;
  }

  nav {
    background-color: #4056a1;
  }
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    margin: 0;
  }
  .hello {
    margin: 0;
  }

  nav {
    background-color: #0074cc;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  }
}